
.app-wrapper {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.app-header h1 {
  margin: 0;
  font-size: 1.5em;
}

body {
  margin: 0;
  background-color: #f7f7f7;
}